<div class="container">
  <div class="text-left">
    <%= form_tag products_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Products...", class:"search_bar" %>
      <%= submit_tag "Search",  class: "search_bar_submit" %>
    <% end %>
  </div>
</div>

<h1>Welcome to The Whiskey Wall</h1>
<% @products.each do |product| %>
<div class="col-md-4">

    <%= link_to product do %>
      <div>
        <%= image_tag product.image_url, class:"whiskey_images" %>
        <h2><%= product.name %></h2>
      </div>
      <% end %>
  </div>
<% end %>
